{% extends 'base.html.twig' %}

{% block body %}
    <h1>Operation creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-link" href="{{ path('op_index') }}"><i class="fa fa-chevron-left"></i> Back to the list</a>
        </li>
    </ul>
{% endblock %}
